<ion-view id="guide"  hide-tabs="true">
    <ion-slide-box>
        <ion-slide>
            <div class="pic"><img src="images/guide01.png"/></div>
        </ion-slide>
        <ion-slide>
            <div class="pic"><img src="images/guide02.png"/></div>
        </ion-slide>
        <ion-slide>
            <div class="pic"><img src="images/guide03.png"/></div>
            <div class="enter_btn">
                <button class="button" ui-sref="tabs.home">进入厨房</button>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>