<ion-view id="email">
    <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-ios-paperplane-outline"></button>
        <div class="title">信箱</div>
        <button class="button item-button-right button-icon icon ion-ios-chatbubble-outline"></button>
    </ion-header-bar>
    <ion-content>
        <div class="dialog_item">
            <h3>节气</h3>
            <p>明日立春,吃春饼</p>
            <div class="icon"><img src="images/touxiang15.jpg"/></div>
        </div>
    </ion-content>
</ion-view>